
@media (min-width:1025px) {
  :local(.miniContainer){
    display:none;
  }
  :local(.container){
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;



    :local(.content){
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      flex-grow: 2;
      :local(.leftBoard){
        width:200px;
      }
      :local(.workspace){
        width: 100%;
        padding:10px;
      }
    }
  }
}

@media (max-width:1024px) {
  :local(.container){
    display:none;
  }
  :local(.miniContainer){
    display: flex;
    height: 1000px;
    :local(.content){
      width:100%;
      :local(.leftBoardContainer){
        position:absolute;
        top:0;
        left:0px;
        z-index: 99;
        width: 200px;
        :local(.toggleButton){
          position:absolute;
          right:-10px;
          top:0;
        }
      }
      :local(.workspace){
        width: 100%;
        padding-left:30px;
      }
    }
  }
}
